.nav {
    background-color:  #63c222;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 60px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    position: inherit;
}

.buttons {
    margin: 10px;
    padding: 10px;
    margin-right: 760px;
    display: flex;
    flex-direction: row;
    width: 20px;
}

.btn {
    font-family: 'Mynerve', cursive;
    text-decoration: none;
    margin: 13px;
    display: flex;
    width: 80px;
    background-color: #252d3b;
    height: 10px;
    color: #cddfb6;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}

.btn:hover{
    background-color:  #cddfb6;
    color: #252d3b;
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}

.logOut{
    font-family: 'Mynerve', cursive;
    display: flex;
    width: 60px;
    height: 45px;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    color: #252d3b;
    background-color: #677b3c;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s; 
}    

.logOut:hover {
    background-color:  #cddfb6;
    color: red;
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}


.about, .home {
    padding: 10px;
    margin: 10px;
}

/* display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 30px; */