.background {
    background-image: url("./Images-login/DEFINITIVA.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    background-attachment: fixed; 
}

.container{
    background-image: url("./Images-login/FORDIVFORM.jpg");
    background-size: cover;
    margin: auto;
    margin-top: 100px;
    border-radius: 5%;
    width: 500px;
    height: 500px;
    padding: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    padding: inherit;
    margin-top: 100px;
}
.password{
    color: #ace932;
    background-color: rgb(33, 51, 99, 80%);
    margin-left: 140px;
    margin-right: 140px;
}

.email{
    color: #ace932;
    background-color: rgb(33, 51, 99, 80%);
    margin-left: 140px;
    margin-right: 140px;
}

.line{
    border: solid 0.5px white;
    width: 100%;
}
.textEmail, .textPassword{
    color: red ;
}

.button{
    background-color: #1D5B79;
    color: #63c222 ;
    border-radius: 10%;
    width: 25%;
    height: 50px;
    margin: auto;
}

.login{
    color: #ace932;
    background-color: rgb(33, 51, 99, 80%);
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 5px ;
}


.errors {
    color: red;
    background-color: rgb(33, 51, 99, 80%)
}



