h2 {
    color:  black;
    margin: 0;
    padding: 0px;
}

.container {
    border: 1px solid #000;
    padding: 26px;
    width: 400px;
    height: 680px;
    margin: 10px;
    background-image: url(../../images/ricky6.webp);
    border-radius: 28px;
}

.image {
    border-radius: 10px;
}

.exit {
    background-color: rgb(246, 63, 63);
    border-radius: 5px ;
    position: relative;
    top: -12px;
    left: 150px;
}