.contenedor {
    background-size: cover;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 190px;
    border-radius: 2%;
    width: 650px;
    height: 400px;
    padding: 30px;
    background-color: red;
    background-image: url("./FONDOGALAXIA.jpg");
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.titulo {
    color: hsl(283, 79%, 69%);
    background-color: #3a2d20 ;
    border-radius: 2%;
}

.parrafo {
    color: #3a2d20;
    background-color: hsl(283, 79%, 69%);
    border-radius: 2%;
}

.foto {
        background-image: url("YO.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 58vh;
        min-height: 35vh;
        position: absolute;
        left: 104vh;
        bottom: 46vh;
        display: flex;
    
} 


