.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: #1D5B79;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20%;
    border-radius: 5%;
}

.titulo {
    color: #EF6262;
}

.parrafo {
    color: #F3AA60;
}

.foto {
        background-image: url("YO.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        min-width: 50vw;
        min-height: 50vh;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        left: 560px;
        bottom: 45px
}


